body {
    font-family: sans-serif;
    background-color: #2a5a2a;
    margin: 0;
    padding: 20px;
}

.dashboard-container {
    max-width: 900px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px; 
}

.grafico-card {
    background-color: #1c4e17;
    border: 1px solid #57e491; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.grafico-card h3 {
    text-align: center;
    color: #57e491;
    margin-top: 0;
    margin-bottom: 20px;
}