:root {
    --color-borde: #dbdbdb;
}

.container {
    border: 1px solid var(--color-borde);
    height: 50%;
    max-width: 350px;
    margin: 2% auto;
    padding: 2rem;
    padding-top: .5rem;
    background-color: #ffffff;
}

.botones {
    display: flex;
    justify-content: center;
}

label {
    padding-bottom: 1rem;
    cursor: pointer;
}

#registro {
  background-color: #4bb4f8;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  padding: 2% 5%;
  width: 100%;
  cursor: pointer;
}

#registro:hover {
  background-color: #1177bb;
}

label > input {
  width: 100%;
  margin-top: 1rem;
}

input {
  border: 1px solid var(--color-borde);
  background-color: #fafafa;
  height: 20px;
  padding: 9px;
}