{% extends 'html/base.html' %}
{% block title %} Informar Avistamientos {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/avistamiento.css')}}"/>
{% endblock %}

{% block content %}  
<main class="main-container">
    <div id="title">
        <h1> Informar Avistamiento </h1>
    </div>

    <div id="val-box" hidden>
        <h2 id="val-msg"></h2>
        <ul id="val-list"></ul>
    </div>

    {% if error %}
    <div class="error-message" style="color: #ff4c4c; font-weight: bold; background: #ffe6e6; padding: 10px; border-radius: 5px; margin-bottom: 15px; text-align: center;">
        {{ error }}
    </div>
    {% endif %}
    
    <form id="form-avistamiento" name="formulario" action="{{ url_for('avistamiento') }}" method="post" enctype="multipart/form-data">            
        <label for="select-voluntario"> Voluntario </label>
        <select id="select-voluntario" name="select_voluntario" required>
            <option value=""> Seleccione un voluntario </option>
            {% for voluntario in voluntarios %}
                <option value="{{ voluntario.id }}">{{ voluntario.nombre }}</option>
            {% endfor %}
        </select><br>

        <label for="select-ave"> Ave </label>
        <select id="select-ave" name="select-ave" required>
            <option value=""> Seleccione un ave </option>
            {% for ave in aves %}
                <option value="{{ ave.id }}">{{ ave.nombre }}</option>
            {% endfor %}
        </select><br>
        
        <label for="lugar"> Lugar </label>
        <input id="lugar" name="lugar" type="text" required><br>
        
        <label for="fecha_hora"> Fecha y Hora </label>
        <input id="fecha_hora" name="fecha_hora" type="datetime-local" required><br>
        
        <label for="descripcion"> Descripción </label>
        <textarea id="descripcion" name="descripcion" rows="3" required></textarea><br>        

        <label for="archivos"> Archivo/Foto (png): </label>
        <input id="archivos" name="archivos" type="file" multiple required accept="image/*,video/*"><br>
        
        <button id="submit-btn" type="submit"> Agregar Avistamiento </button>
    </form>
</main>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/avistamiento.js') }}"></script>
{% endblock %}