<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <title> INICIO DE LA PAGINA WEB </title>    
        <link rel="stylesheet" type="text/css" href="../css/inicio.css">
    </head>
    <body>
        <main class="container">
            <div class="texto">
                <h1> Bienvenido a tu pagina favorita de aves </h1>
                <h2> ¿Por donde quieres navegar hoy? </h2>
            </div>
            <div class="botones">
                <button id="registro" type="button" > Registro de Voluntario(a) </button>
                <button id="avistamiento" type="button"> Informar Avistamiento </button>
                <button id="listado" type="button"> Listado Avistamiento </button>
                <button id="estadistica" type="button"> Estadísticas </button>
            </div>
        </main>
        <script src="../js/inicio.js"></script>
    </body>
</html>