{% extends 'html/base.html' %}
{% block title %} Inicio {% endblock %}
{% block css %}
<link 
    rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='css/inicio.css')}}"
    />
{% endblock %}
{% block content %}
<main class="container">
    <div class="texto">
        <h1> Bienvenido a tu pagina favorita de aves! </h1>
        <h2> ¿Por donde quieres navegar hoy? </h2>
    </div>

    <nav>
        <button id="registro">Registrar Voluntario</button>
        <button id="avistamiento">Informar Avistamiento</button>
        <button id="listado">Listado</button>
        <button id="estadistica">Estadísticas</button>
    </nav>

    <hr>

    <section>
        <h2>Últimos Avistamientos Registrados</h2>

        {% if avistamientos %}
            <ul>
            {% for a in avistamientos %}
                <li>
                    <p><strong>Lugar:</strong> {{ a.lugar }}</p>
                    <p><strong>Fecha y Hora:</strong> {{ a.fecha_hora }}</p>
                    <p><strong>Descripción:</strong> {{ a.descripcion }}</p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hay avistamientos registrados todavía.</p>
        {% endif %}
    </section>
</main>
{% endblock %}
{% block javascript %}
<script lang="javascript" src="{{ url_for('static', filename='js/inicio.js') }}"></script>
{% endblock %}